# Ignoriere die .env Datei
# Node.js dependencies
node_modules/

# Log-Dateien
*.log

# Enviroment-Dateien
.env
.env.development
.env.production

# Temporäre Dateien
*.tmp
*.swp


# Certification data
*.cert
*.key
*.crt
*.key